.own-message {
    position: relative;
    flex-direction: row-reverse;
    margin: 5px 20px 5px calc(100% - 250px);
    display: flex;

    padding: 10px;

    color: var(--text-color);
    width: 200px;

    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid var(--add-color);
    border-radius: 10px;
}
@keyframes dropMessage {
    10%{
        transform: rotate(-20deg) translateY(-200px);

    }


    100%{
        transform: translateY(300px);

    }

}

.deletedMessage{
    z-index: 0;
    position: absolute;
    animation: dropMessage 2s;

}

@keyframes writing {
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes dropping {
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.message-edit {
    background-color: white;
    border: 0;
    position: absolute;
    bottom: 5px;
    right: 40px;
    cursor: pointer;

}

.message-edit:hover {
    animation: writing 1s infinite;
    background-color: rgba(0, 123, 245, 0.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 123, 245, 0.2);
}

.message-delete {
    background-color: white;
    border: 0;
    position: absolute;
    bottom: 5px;
    right: 10px;
    cursor: pointer;

}

.fa-trash:hover{
    color: #f10202;
}

.message-delete:hover {
    animation: dropping 0.8s;

    background-color: rgba(245, 0, 29,0.2);
    box-shadow: 0px 0px 10px 5px rgba(245, 0, 29,0.2);
}

