

.header {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--add-color-two);
    box-shadow: 0 5px 11px -5px rgba(34, 60, 80, 0.6);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.header-title{
    margin-left: 5%;
    text-align: center;
}

.header-users-count{
    margin-left: 10%;
    text-align: center;
}

.header-messages-count{
    margin-left:5%;
    text-align: center;
}

.header-last-message-date{
    margin-left:30%;
    text-align: center;
}
