:root{
  --main-bg-color: #ffffff;
  --text-color: #353535;
  --add-color: #284B63;
  --add-color-two: #3C6E71;
}

.chat {
  display: flex;
  flex-direction: column;

}

::selection {
  background-color: var(--add-color);
  color: white;
}


.chat_page{
  margin-top: 70px;
  background-color:  var(--main-bg-color);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{

  width: 60%;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0 0 29px 8px rgba(34, 60, 80, 0.2);

}

