
.message {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: flex;

    padding: 10px;

    color: var(--text-color);
    width: 200px;

    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid var(--add-color);
    border-radius: 10px;
}

.message-user-info{
    max-width: 50px;

}

.message-user-avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid var(--add-color);
}

.message-user-name {
    position: absolute;
    top: 70px;
    font-size: 0.8rem;
    text-align: center;
    width: 50px;
    overflow:hidden;
    text-overflow: ellipsis;
}

.message-text {
    padding-left: 10px;
    margin-top: 0;
    padding-bottom: 50px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.message-like {
    position: absolute;
    color: var(--text-color);
    background-color: white;
    border: 0;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.message-liked{
    color: red;
    transform: rotate(360deg)
}


.message-like:hover{
    background-color: rgba(0, 123, 245, 0.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 123, 245, 0.2);
}

.message-liked:hover{
    background-color: rgba(245, 0, 29,0.2);
    box-shadow: 0px 0px 10px 5px rgba(245, 0, 29,0.2);
}

.message-time {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}



